/* color palette from <https://github.com/vuejs/theme> */
:root {
  --background-light-gray: #F5F5F5;

  --text-title-1: #262D33;
  --text-title-2: #414141;
  --text-title-3: #7E7C7C;

  --text-label-1: #666666;

  --card-border: #E8E8E8;

  --overview-text-highlight: #51A2C7;

  --font-weight: 600;

  /* color scales for styling charts */
  --scheme-cool-dark: #3e1d72;
  --scheme-cool-light: #6bd3dd;
  
  --scheme-warm-dark: #c73c24;
  --scheme-warm-light: #fcb504;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--background-light-gray);
  --color-text: var(--text-title-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  min-height: 100vh;
  color: var(--text-title-2);
  background: var(--background-light-gray);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: var(--font-weight);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
