@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 75px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

#header_image {
  background-image:
  linear-gradient(to bottom, #00000000, var(--color-background)),
  url('../../public/images/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  position: absolute;
  height: 20vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#logo img {
  width: 245px;
}

#logo-bottom {
  display: block;
  width: fit-content;
  margin: 100px auto 100px auto;
}

.card {
  background: white;
  border-radius: 25px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.section-title {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.main {
  font-size: 40px;
  color: var(--text-title-1);
  display: flex;
  align-items: center;
}